.DS_Store
node_modules/
npm-debug.log
.idea/
dump.rdb
.vscode/
dist
public/*
coverage/
.nyc_output/
yarn.lock

Jacoby.json
.env
deploy_version.json
deploy_version_v1.json
deploy_version_v2.json
development.json